.new1{
    border: 2px solid white !important;
}
.text2{
    margin-top: 10% !important;
    margin-bottom: 5% !important;
}
.rounded2{
    border-radius: 25px !important;
}
.education{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}
.schools{
    margin-bottom: 10% !important;
}